@import "assets/scss/config/fonts";
@import "assets/scss/config/reset";
@import "assets/scss/config/vars";
@import "assets/scss/config/utility";
@import "assets/scss/modules/typography";
@import "assets/scss/modules/fields";
@import "assets/scss/modules/buttons";
@import "assets/scss/modules/toast";
@import "assets/scss/config/global";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.app-author {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-container {
  --gap: 15px;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--bcs-grey-4);
  padding: 10px;
}

.translator {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05), 0 25px 35px rgba(0, 0, 0, 0.03);
  max-width: 800px;
  width: 100%;
  display: grid;
  gap: var(--gap);

  .title {
    text-align: center;
  }

  .header {
    display: grid;
    gap: var(--gap);

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    textarea {

      @media (min-width: 768px) {
        min-height: 250px;
      }
    }
  }

  .container {
    display: grid;
    gap: var(--gap);
  }

  .controls, .control {
    display: grid;
    gap: var(--gap);
  }

  .controls {

    @media (min-width: 768px) {
      grid-template-columns: 1fr 70px 1fr;
      gap: 10px;
      align-items: center;
    }
  }
  .control.from {
    gap: 10px;
    grid-template-columns: 130px 1fr;
  }

  .control.to {
    gap: 10px;
    grid-template-columns: 1fr 130px;
  }

  svg {
    pointer-events: none;
  }
}
